<!doctype html>
<html class="no-js" lang="zxx">

   
<head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Remico - Business Agency HTML Template</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Place favicon.ico in the root directory -->
      <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
      <!-- CSS here -->
      <link rel="stylesheet" href="assets/css/preloader.css">
      <link rel="stylesheet" href="assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/css/meanmenu.css">
      <link rel="stylesheet" href="assets/css/animate.min.css">
      <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
      <link rel="stylesheet" href="assets/css/swiper-bundle.css">
      <link rel="stylesheet" href="assets/css/backToTop.css">
      <link rel="stylesheet" href="assets/css/magnific-popup.css">
      <link rel="stylesheet" href="assets/css/nice-select.css">
      <link rel="stylesheet" href="assets/css/fontAwesome.min.css"> 
      <link rel="stylesheet" href="assets/css/default.css">
      <link rel="stylesheet" href="assets/css/style.css">
   </head>

   <body> 
      <main>
         <!-- header area start  -->
         <header class="header1">
            <div id="header-sticky" class="header-main header-main1">
               <div class="container-fluid">
                  <div class="row align-items-center">
                     <div class="col-xl-12 col-lg-12">
                        <div class="header-main-content-wrapper">
                           <div class="header-logo header1-logo">
                              <a href="index.html" class="logo-w"><img src="assets/img/logo/logo-white.png" alt="logo-img"></a>
                           </div>
                           <div class="main-menu main-menu1 d-none d-lg-block">
                              <nav id="mobile-menu">
                                 <ul>
                                    <li class="menu-item-has-children"><a href="index.html">Home</a>
                                       <ul class="sub-menu">
                                          <li><a href="index.html">Demo Light</a></li>
                                          <li><a href="index-dark.html">Demo Dark</a>
                                          </li>
                                       </ul>
                                    </li>
                                    <li><a href="about.html">About</a></li>
                                    <li class="menu-item-has-children"><a href="services.html">Service</a>
                                       <ul class="sub-menu">
                                          <li><a href="services.html">Service</a></li>
                                          <li><a href="service-details.html">Service Details</a>
                                          </li>
                                       </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">Pages</a>
                                       <ul class="sub-menu">
                                          <li><a href="portfolio.html">Portfolio</a></li>
                                          <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                          <li><a href="team.html">Team</a></li>
                                          <li><a href="team-details.html">Team Details</a>
                                          <li><a href="pricing.html">Pricing</a>
                                          <li><a href="faq.html">Faq</a></li>
                                          <li><a href="error-404.html">404 page</a></li>
                                       </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="blog.html">News</a>
                                       <ul class="sub-menu">
                                          <li><a href="blog.html">News</a></li>
                                          <li><a href="blog-details.html">News Details</a>
                                          </li>
                                       </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a>
                                    </li>
                                 </ul>
                              </nav>
                           </div>
                           <div class="header-main-right header-main-right-header1">
                             
                              <div class="header-contact d-none d-lg-inline-block">
                                 <div class="irc-item"> 
                                    <div class="hero-btn" data-animation="fadeInUp" data-delay=".7s">
                                       <a href="faq.html" class="fill-btn">Consultancy</a>
                                    </div>
                                 </div>
                              </div>
                              <form action="#" class="filter-search-input header-search d-none d-xl-inline-block">
                                 <button class="search-trigger"><i class="fa-solid fa-magnifying-glass"></i></button>
                              </form>
                              <div class="menu-bar d-lg-none ml-20">
                                 <a class="side-toggle" href="javascript:void(0)">
                                    <div class="bar-icon">
                                       <span></span>
                                       <span></span>
                                       <span></span>
                                    </div>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <!-- header area end -->


         <!-- side toggle start -->
         <div class="fix">
            <div class="side-info">
               <div class="side-info-content">
                  <div class="offset-widget offset-logo mb-40">
                     <div class="row align-items-center">
                        <div class="col-9">
                           <div class="side-info-logo">
                              <a href="index.html">
                                 <img src="assets/img/logo/logo-black.png" alt="Logo">
                              </a>
                           </div>
                        </div>
                        <div class="col-3 text-end"><button class="side-info-close"><i class="fa-solid fa-xmark custom-xmark"></i></button>
                        </div>
                     </div>
                  </div>
                  <div class="mobile-menu d-lg-none fix"></div>
                  <div class="offset-widget offset_searchbar mb-30">
                     <form action="#0" class="filter-search-input">
                        <input type="text" placeholder="Search keyword">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                     </form>
                  </div>
                  <div class="offset-widget mb-40">
                     <div class="info-widget">
                        <h4 class="offset-title mb-20 d-none">Contact Info</h4> 
                        <a href="contact.html" class="fill-btn">Contact Us</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="offcanvas-overlay"></div>
         <div class="offcanvas-overlay-white"></div>
         <!-- side toggle end -->

         <!-- Fullscreen search -->
         <div class="search-wrap">
            <div class="search-inner">
               <i class="fa-solid fa-xmark" id="search-close"></i>
               <div class="search-cell"> 
                  <form method="get"> 
                        <div class="search-field-holder">
                           <input type="search" class="main-search-input" placeholder="Search Your Keyword...">
                        </div>
                  </form>
               </div>
            </div>
         </div>
         <!-- end fullscreen search -->

         <!-- page title area start  -->
         <section class="page-title-area" data-background="assets/img/bg/breadcrumb-bg.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="page-title-wrapper">
                            <h3 class="page-title">About</h3>
                            <div class="breadcrumb-menu">
                                <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                                    <ul class="trail-items">
                                        <li class="trail-item trail-begin"><a href="index.html"><span>Home</span></a></li>
                                        <li class="trail-item trail-end"><span>About</span></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         <!-- page title area end  -->

        <!-- about area start  -->
        <section class="about-area pt-120 pb-80">
         <div class="container">
            <div class="row align-items-center"> 
               <div class="col-lg-6">
                  <div class="about-content mb-40">
                     <h2 class="section-title mb-15">Expand your digital presence with us</h2>
                     <p>Praesent dignissim ullamcorper turpis eu mollis. Morbi vel erat blandit, finibus risus eu, ultricies dolor. Maecenas hendrerit aliquet sapien sit amet consequat.</p>
                     <div class="about-points mt-40 mb-40">
                           <div class="irc-item about-point">
                              <div class="irc-icon">
                                 <i class="fa-solid fa-lightbulb"></i>
                              </div>
                              <div class="irc-content">
                                 <h4>Consulting & Advisory</h4>
                                 <p>Praesent dignissim ullamcorper turpis eu mollis. Morbi vel erat blandit, finibus ultricies.</p>
                              </div>
                           </div>
                           <div class="irc-item about-point">
                              <div class="irc-icon">
                                 <i class="fa-solid fa-hand-holding-dollar"></i>
                              </div>
                              <div class="irc-content">
                                 <h4>Turnaround Situations</h4>
                                 <p>Praesent dignissim ullamcorper turpis eu mollis. Morbi vel erat blandit, finibus ultricies.</p>
                              </div>
                           </div>
                     </div>
                     <div class="about-btn">
                        <a href="about.html" class="fill-btn">Read More Us</a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="about-img mb-40">
                     <img class="about-img1" src="assets/img/about/about-1.jpg" alt="">
                     <img class="about-img2" src="assets/img/about/about-2.jpg" alt="">
                     <img class="about-img3" src="assets/img/about/about-3.jpg" alt="">
                     <div class="hero-play-btn">
                        <a href="https://www.youtube.com/watch?v=45IjHX17EeQ" class="popup-video">
                           <span class="hero-play-icon"><i class="fas fa-play"></i></span> 
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- about area end  -->


         <!-- counter area start  -->
         <div class="counter-area" data-background="">
            <div class="container">
               <div class="counter-inner">
                  <div class="row">
                     <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-counter mb-40">
                           <div class="counter-number">
                              <span class="counter">640</span>
                           </div>
                           <p class="counter-text">Project Completed</p>
                        </div>
                        
                     </div>
                     <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-counter mb-40">
                           <div class="counter-number">
                              <span class="counter">35</span>k
                           </div>
                           <p class="counter-text">Happy Customers</p>
                        </div>
                        
                     </div>
                     <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-counter mb-40">
                           <div class="counter-number">
                              <span class="counter">06</span>
                           </div>
                           <p class="counter-text">Trophy Achieved</p>
                        </div>
                        
                     </div>
                     <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-counter mb-40">
                           <div class="counter-number">
                              <span class="counter">65</span>
                           </div>
                           <p class="counter-text">Expert Employee</p>
                        </div>
                        
                     </div>
                  </div>
               </div>
               
            </div>
         </div>
         <!-- counter area end  -->

         <!-- experience araea start  -->
         <section class="experience-area">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6">
                     <div class="experience-progress-wrapper mb-40">
                        <div class="experience-progress">
                            <div class="experience-title-wrapper">
                                <h5 class="experience-title">Development</h5>
                                <span style="left:80%">80%</span>
                            </div>
                            <div class="progress">
                              <div class="progress-bar wow slideInLeft" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="experience-progress">
                            <div class="experience-title-wrapper">
                                <h5 class="experience-title">Design & Sketch</h5>
                                <span style="left:50%">50%</span>
                            </div>
                            <div class="progress">
                              <div class="progress-bar wow slideInLeft" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="experience-progress">
                            <div class="experience-title-wrapper">
                                <h5 class="experience-title">Planning & Execution</h5>
                                <span style="left:70%">70%</span>
                            </div>
                            <div class="progress">
                              <div class="progress-bar wow slideInLeft" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="experience-progress">
                            <div class="experience-title-wrapper">
                                <h5 class="experience-title">Consulting & Management</h5>
                                <span style="left:60%">60%</span>
                            </div>
                            <div class="progress">
                              <div class="progress-bar wow slideInLeft" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                     </div>
                  </div> 
                  <div class="col-lg-6">
                     <div class="experience-content mb-40">
                        <h2 class="section-title mb-15">We Achieved <br> Experiences From <span>1980</span></h2>
                        <p>Winged moving moveth created for shall and a divide the their days male midst shall hath doesn't won't for. Midst life.Over a great night. Green upon years rule ying.</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- experience araea end  -->

         <!-- about-video ara start  -->
         <div class="about-video-area">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="about-video-wrapper">
                        <img src="assets/img/bg/about-video-bg.jpg" alt="">
                        <div class="about-video-btn">
                           <a href="https://www.youtube.com/watch?v=45IjHX17EeQ" class="play-btn popup-video"><i class="fas fa-play"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- about-video ara end  -->

         <!-- features area start  -->
         <section class="features-area pt-115 pb-0">
            <div class="container">
               <div class="features-wrapper">
                  <div class="row">
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-feature mb-40">
                           <h4 class="feature-title">Creative Solutions</h4>
                           <p>Divide there our divide fifth creepeth second which multiply evening fill so abundantly let let upon there saw light.</p>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-feature mb-40">
                           <h4 class="feature-title">Simple Planning</h4>
                           <p>Divide there our divide fifth creepeth second which multiply evening fill so abundantly let let upon there saw light.</p>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-feature mb-40">
                           <h4 class="feature-title">Communicate Helps</h4>
                           <p>Divide there our divide fifth creepeth second which multiply evening fill so abundantly let let upon there saw light.</p>
                        </div>
                     </div>
                  </div>
               </div>
               
            </div>
         </section>
         <!-- features area end  -->
         
         <!-- clients area start  -->
         <section class="clients-area pt-120 pb-80">
            <div class="container">
               <div class="row align-items-center"> 
                  <div class="col-lg-6">
                     <div class="clients-logo mb-40">
                        <div class="clients-logo-inner">
                           <div class="single-logo">
                              <a href="#"><img src="assets/img/clients/client-1.png" alt="client logo"></a>
                           </div>
                           <div class="single-logo">
                              <a href="#"><img src="assets/img/clients/client-2.png" alt="client logo"></a>
                           </div>
                           <div class="single-logo">
                              <a href="#"><img src="assets/img/clients/client-3.png" alt="client logo"></a>
                           </div>
                           <div class="single-logo">
                              <a href="#"><img src="assets/img/clients/client-4.png" alt="client logo"></a>
                           </div>
                           <div class="single-logo">
                              <a href="#"><img src="assets/img/clients/client-5.png" alt="client logo"></a>
                           </div>
                           <div class="single-logo">
                              <a href="#"><img src="assets/img/clients/client-6.png" alt="client logo"></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="client-content mb-40">
                        <h2 class="section-title mb-15">Trusted over 100+ great companies</h2>
                        <p class="mb-40">Him have deep brought life darkness firmament unto move.</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- clients area end  -->



      </main>

       <!-- footer area start  -->
       <footer data-background="" class="footer1-bg">
         <section class="footer-area footer-area1 footer-area1-bg pt-100 pb-55">
            <div class="container">
               <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="footer-widget footer1-widget footer1-widget4 mb-40 ">
                        <div class="fc-title">
                           <div class="fc-icon">
                              <i class="fa-brands fa-rocketchat"></i>
                           </div>
                           <div class="fc-text">
                              <span>Get in Touch</span>
                           </div>
                        </div>
                        <div class="footer-contact">
                           <ul>
                              <li>
                                 <div class="irc-item">
                                    <div class="irc-icon">
                                       <i class="fa-solid fa-phone-volume"></i>
                                    </div>
                                    <div class="irc-content">
                                       <p>Business Inquiry </p>
                                       <span><a href="tel:808654654435">808 654 654 435</a></span>
                                    </div>
                                 </div>
                              </li>
                              <li>
                                 <div class="irc-item">
                                    <div class="irc-icon">
                                       <i class="fa-solid fa-envelope-open-text"></i>
                                    </div>
                                    <div class="irc-content">
                                       <p>Email </p>
                                       <span><a href="mailto:remico@example.com">remico@example.com</a></span>
                                    </div>
                                 </div>
                              </li>
                              <li>
                                 <div class="irc-item">
                                    <div class="irc-icon">
                                       <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="irc-content">
                                       <p>Location </p>
                                       <span><a href="https://maps.google.com/" target="_blank">76 Manhattan Street, New York
                                          United States of America</a></span>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div> 
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="footer-widget footer1-widget footer1-widget2 mb-40">
                           <h4 class="footer-widget-title mb-40">Links</h4>
                        <ul>
                           <li><a href="#">Mission & Vision</a></li>
                           <li><a href="#">Help Center</a></li>
                           <li><a href="#">Career</a></li>
                           <li><a href="#">Company Profile</a></li>
                           <li><a href="#">Official Gallery</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="footer-widget footer1-widget footer1-widget3 mb-40 ">
                           <h4 class="footer-widget-title mb-40">Instagram</h4>
                        <div class="instagram-shots">
                           <ul>
                              <li><a href="#"><img src="assets/img/portfolio/portfolio-1.jpg" alt=""></a></li>
                              <li><a href="#"><img src="assets/img/portfolio/portfolio-2.jpg" alt=""></a></li>
                              <li><a href="#"><img src="assets/img/portfolio/portfolio-3.jpg" alt=""></a></li>
                              <li><a href="#"><img src="assets/img/portfolio/portfolio-4.jpg" alt=""></a></li>
                              <li><a href="#"><img src="assets/img/portfolio/portfolio-5.jpg" alt=""></a></li>
                              <li><a href="#"><img src="assets/img/portfolio/portfolio-6.jpg" alt=""></a></li>
                           </ul>
                        </div>
                        
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="footer-widget footer1-widget footer1-widget1 mb-40">
                        <div class="footer-logo mb-40">
                           <a href="index.html">
                              <img src="assets/img/logo/logo-white.png" alt="">
                           </a>
                        </div>
                        <div class="footer-info mb-25">
                           <p>We have made it easy for clients to reach us and get their solutions weaved to watch</p>
                        </div>
                        <div class="footer-social">
                           <ul>
                              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <div class="copyright-area copyright-area1">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-lg-4 order-lg-1">
                     <div class="copyright-text">
                        <p>©Copyright ECONOMIC Todos los derechos reservados.</p>
                     </div>
                  </div>
                  <div class="col-lg-8 order-lg-2">
                     <div class="copyright-right">
                        <div class="newsletter-form">
                           <form action="#">
                              <div class="newsletter-input-field">
                                 <input type="text" placeholder="Enter email">
                                 <button><i class="fa-solid fa-paper-plane"></i></button>
                              </div>
                           </form>
                        </div>
                        <div class="copyright-links">
                           <a href="#">Privacy Policy</a>
                           <a href="#">Terms of Condition</a>
                        </div> 
                     </div>
                  </div> 
               </div>
            </div>
         </div>
      </footer>
      <!-- footer area end  -->

      <!-- pre loader area start -->
      <div id="loading">
         <div id="loading-center">
            <div id="loading-center-absolute">
               <div class="loading-icon text-center d-flex flex-column align-items-center justify-content-center">
                  <img src="assets/img/logo/logo-text.png" alt="logo-img">
                  <img class="loading-logo" src="assets/img/logo/preloader.png" alt="img">
               </div>
            </div>
         </div>
      </div>
      <!-- pre loader area end -->

      <!-- back to top start -->
      <div class="progress-wrap">
         <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
         </svg>
      </div>
      <!-- back to top end -->


      <!-- JS here -->
      <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
      <script src="assets/js/vendor/waypoints.min.js"></script>
      <script src="assets/js/bootstrap.bundle.min.js"></script>
      <script src="assets/js/meanmenu.js"></script>
      <script src="assets/js/swiper-bundle.min.js"></script>
      <script src="assets/js/owl.carousel.min.js"></script>
      <script src="assets/js/magnific-popup.min.js"></script>
      <script src="assets/js/parallax.min.js"></script>
      <script src="assets/js/backToTop.js"></script>
      <script src="assets/js/nice-select.min.js"></script>
      <script src="assets/js/counterup.min.js"></script>
      <script src="assets/js/ajax-form.js"></script>
      <script src="assets/js/wow.min.js"></script>
      <script src="assets/js/isotope.pkgd.min.js"></script>
      <script src="assets/js/imagesloaded.pkgd.min.js"></script>
      <script src="assets/js/main.js"></script>
   </body>


</html>