<!doctype html>
<html class="no-js" lang="zxx">

   
<head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Remico - Business Agency HTML Template</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Place favicon.ico in the root directory -->
      <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
      <!-- CSS here -->
      <link rel="stylesheet" href="assets/css/preloader.css">
      <link rel="stylesheet" href="assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/css/meanmenu.css">
      <link rel="stylesheet" href="assets/css/animate.min.css">
      <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
      <link rel="stylesheet" href="assets/css/swiper-bundle.css">
      <link rel="stylesheet" href="assets/css/backToTop.css">
      <link rel="stylesheet" href="assets/css/magnific-popup.css">
      <link rel="stylesheet" href="assets/css/nice-select.css">
      <link rel="stylesheet" href="assets/css/fontAwesome.min.css"> 
      <link rel="stylesheet" href="assets/css/default.css">
      <link rel="stylesheet" href="assets/css/style.css">
   </head>

   <body> 
      <main>
         <!-- header area start  -->
         <header class="header1">
            <div id="header-sticky" class="header-main header-main1">
               <div class="container-fluid">
                  <div class="row align-items-center">
                     <div class="col-xl-12 col-lg-12">
                        <div class="header-main-content-wrapper">
                           <div class="header-logo header1-logo">
                              <a href="index.html" class="logo-w"><img src="assets/img/logo/logo-white.png" alt="logo-img"></a>
                           </div>
                           <div class="main-menu main-menu1 d-none d-lg-block">
                              <nav id="mobile-menu">
                                 <ul>
                                    <li class="menu-item-has-children"><a href="index.html">Home</a>
                                       <ul class="sub-menu">
                                          <li><a href="index.html">Demo Light</a></li>
                                          <li><a href="index-dark.html">Demo Dark</a>
                                          </li>
                                       </ul>
                                    </li>
                                    <li><a href="about.html">About</a></li>
                                    <li class="menu-item-has-children"><a href="services.html">Service</a>
                                       <ul class="sub-menu">
                                          <li><a href="services.html">Service</a></li>
                                          <li><a href="service-details.html">Service Details</a>
                                          </li>
                                       </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">Pages</a>
                                       <ul class="sub-menu">
                                          <li><a href="portfolio.html">Portfolio</a></li>
                                          <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                          <li><a href="team.html">Team</a></li>
                                          <li><a href="team-details.html">Team Details</a>
                                          <li><a href="pricing.html">Pricing</a>
                                          <li><a href="faq.html">Faq</a></li>
                                          <li><a href="error-404.html">404 page</a></li>
                                       </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="blog.html">News</a>
                                       <ul class="sub-menu">
                                          <li><a href="blog.html">News</a></li>
                                          <li><a href="blog-details.html">News Details</a>
                                          </li>
                                       </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a>
                                    </li>
                                 </ul>
                              </nav>
                           </div>
                           <div class="header-main-right header-main-right-header1">
                             
                              <div class="header-contact d-none d-lg-inline-block">
                                 <div class="irc-item"> 
                                    <div class="hero-btn" data-animation="fadeInUp" data-delay=".7s">
                                       <a href="faq.html" class="fill-btn">Consultancy</a>
                                    </div>
                                 </div>
                              </div>
                              <form action="#" class="filter-search-input header-search d-none d-xl-inline-block">
                                 <button class="search-trigger"><i class="fa-solid fa-magnifying-glass"></i></button>
                              </form>
                              <div class="menu-bar d-lg-none ml-20">
                                 <a class="side-toggle" href="javascript:void(0)">
                                    <div class="bar-icon">
                                       <span></span>
                                       <span></span>
                                       <span></span>
                                    </div>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <!-- header area end -->


         <!-- side toggle start -->
         <div class="fix">
            <div class="side-info">
               <div class="side-info-content">
                  <div class="offset-widget offset-logo mb-40">
                     <div class="row align-items-center">
                        <div class="col-9">
                           <div class="side-info-logo">
                              <a href="index.html">
                                 <img src="assets/img/logo/logo-black.png" alt="Logo">
                              </a>
                           </div>
                        </div>
                        <div class="col-3 text-end"><button class="side-info-close"><i class="fa-solid fa-xmark custom-xmark"></i></button>
                        </div>
                     </div>
                  </div>
                  <div class="mobile-menu d-lg-none fix"></div>
                  <div class="offset-widget offset_searchbar mb-30">
                     <form action="#0" class="filter-search-input">
                        <input type="text" placeholder="Search keyword">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                     </form>
                  </div>
                  <div class="offset-widget mb-40">
                     <div class="info-widget">
                        <h4 class="offset-title mb-20 d-none">Contact Info</h4> 
                        <a href="contact.html" class="fill-btn">Contact Us</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="offcanvas-overlay"></div>
         <div class="offcanvas-overlay-white"></div>
         <!-- side toggle end -->

         <!-- Fullscreen search -->
         <div class="search-wrap">
            <div class="search-inner">
               <i class="fa-solid fa-xmark" id="search-close"></i>
               <div class="search-cell"> 
                  <form method="get"> 
                        <div class="search-field-holder">
                           <input type="search" class="main-search-input" placeholder="Search Your Keyword...">
                        </div>
                  </form>
               </div>
            </div>
         </div>
         <!-- end fullscreen search -->

         <!-- page title area start  -->
         <section class="page-title-area" data-background="assets/img/bg/breadcrumb-bg.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="page-title-wrapper">
                            <h3 class="page-title">Blog Single</h3>
                            <div class="breadcrumb-menu">
                                <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                                    <ul class="trail-items">
                                        <li class="trail-item trail-begin"><a href="index.html"><span>Home</span></a></li>
                                        <li class="trail-item trail-end"><span>Our Blog</span></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         <!-- page title area end  -->

         <!-- blog area start  -->
         <section class="blog-area pt-120 pb-60">
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-md-12">
                     <div class="blog-details-main-area mb-60">
                        <div class="blog-single mb-30">
                           <div class="blog-single-inner">
                              <div class="blog-thumb">
                                 <a href="blog-details.html"><img src="assets/img/blog/blog-1.jpg" alt="blog img"></a>
                              </div>
                              <div class="blog-content">
                                 <div class="blog-meta">
                                    <div class="meta-item author-meta">
                                       <div class="meta-item-img">
                                          <a href="blog.html"><img src="assets/img/blog/blog-author-1.png" alt=""></a>
                                       </div>
                                       <div class="meta-item-text">
                                          <a href="blog.html">Jacob Oarn</a>
                                       </div>
   
                                    </div>
                                    <div class="meta-item">
                                       <div class="meta-item-icon">
                                          <a href="blog.html"><i class="fa-solid fa-calendar-days"></i></a>
                                       </div>
                                       <div class="meta-item-text">
                                          <a href="blog.html">April 2022</a>
                                       </div>
   
                                    </div>
                                    <div class="meta-item">
                                       <div class="meta-item-icon">
                                          <a href="blog-details.html"><i class="fa-solid fa-folder"></i></a>
                                       </div>
                                       <div class="meta-item-text">
                                          <a href="blog-details.html">Corporate</a>
                                       </div>
   
                                    </div>
                                    <div class="meta-item">
                                       <div class="meta-item-icon">
                                          <a href="blog-details.html"><i class="fa-brands fa-rocketchat"></i></a>
                                       </div>
                                       <div class="meta-item-text">
                                          <a href="blog-details.html">3 Comments</a>
                                       </div>
   
                                    </div>
                                 </div>
                                 <h4 class="blog-title">If you find yourself constantly bookmarking at sections on news.</h4>
                                 <p>Bccaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                 <div class="blog-quote">
                                    <p>"This health blog from NPR takes a fairly broad look at the medical world, to main assignment for dignity for us” </p>
                                    <span>— Martin Hoges, Founder, Citizen</span>
                                 </div>
                                 <div class="blog-d-thumb-content">
                                    <div class="blog-d-thumb">
                                       <img src="assets/img/blog/blog-d-thumb.jpg" alt="">
                                    </div>
                                    <div class="blog-d-content">
                                       <p class="mb-25">Great work for everyone that best <a href="#">department of digital success platform</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                                          <p class="mb-25">Bacacet cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Bccaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.</p>
                                          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                                    </div>
                                 </div>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <a href="#">quis nostrud exercitation ullamco </a>laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                                 <div class="tag-and-share">
                                    <div class="blog-tags">
                                       <span>Tags :</span>
                                       <div class="tag-list">
                                          <a href="#">Experience</a>
                                          <a href="#">Business</a>
                                          <a href="#">Marketing</a>
                                       </div>
                                    </div>
                                    <div class="blog-share">
                                       <span><i class="fa-solid fa-share-nodes"></i>Share</span>
                                       <div class="social-share">
                                          <ul>
                                             <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                             <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                             <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                             <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="blog-post-nav">
                           <div class="prev-post">
                              <div class="blog-single">
                                 <div class="blog-thumb">
                                    <a href="blog-details.html"><img src="assets/img/blog/blog-2.jpg" alt="blog img"></a>
                                 </div>
                                 <div class="blog-content">
                                    <div class="blog-meta-date">Previous</div>
                                    <h4 class="blog-title"><a href="blog-details.html">Service Construct deals as on damage</a></h4>
                                 </div>
                              </div>
                           </div>
                           <div class="next-post">
                              <div class="blog-single">
                                 <div class="blog-thumb">
                                    <a href="blog-details.html"><img src="assets/img/blog/blog-3.jpg" alt="blog img"></a>
                                 </div>
                                 <div class="blog-content">
                                    <div class="blog-meta-date">next</div>
                                    <h4 class="blog-title"><a href="blog-details.html">Having education in an area helps</a></h4>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="blog-author-details">
                           <div class="author-img">
                              <img src="assets/img/team/team-3.jpg" alt="">
                           </div>
                           <div class="author-desc">
                              <h4 class="author-name">David Richard</h4>
                              <span class="author-post">Deputy Manager</span>
                              <p>I'm Andrew Poles for Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                              <div class="author-social">
                                 <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="comments-area">
                           <h4>3 Comments</h4>
                           <div class="comments-wrapper">
                              <div class="single-comment">
                                 <div class="author-img">
                                    <img src="assets/img/blog/blog-author-2.png" alt="">
                                 </div>
                                 <div class="author-comment">
                                    <h4 class="author-name"><a href="#">Alisto Mogan</a></h4>
                                    <div class="comment-meta">
                                       <span class="date">25 June, 2022</span>
                                       <span class="time">11:23 am</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    <a href="#" class="reply-btn"><i class="fas fa-reply"></i><span>Reply</span></a>
                                 </div>
                              </div>
                              <div class="single-comment">
                                 <div class="author-img">
                                    <img src="assets/img/blog/blog-author-3.png" alt="">
                                 </div>
                                 <div class="author-comment">
                                    <h4 class="author-name"><a href="#">Jerry Oan Gen</a></h4>
                                    <div class="comment-meta">
                                       <span class="date">15 July, 2022</span>
                                       <span class="time">09:31 am</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </p>
                                    <a href="#" class="reply-btn"><i class="fas fa-reply"></i><span>Reply</span></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="comment-form">
                           <h4>WRITE A Comment</h4>
                           <form action="#">
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="single-input-form">
                                       <input type="text" placeholder="Your Name">
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="single-input-form">
                                       <input type="text" placeholder="Email">
                                    </div>
                                 </div>
                                 <div class="col-md-12">
                                    <div class="single-input-form">
                                       <textarea name="message" id="message" placeholder="Write a comment.."></textarea>
                                    </div>
                                 </div>
                                 <div class="comment-form-btn">
                                    <a href="#" class="fill-btn">Submit Now</a>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-8">
                     <div class="sidebar-area mb-60">
                        <div class="sidebar-widget sidebar-search-wrapper">
                           <div class="sidebar-search">
                              <input type="text" placeholder="Search Keywords">
                              <button><i class="fa-solid fa-magnifying-glass"></i><span>Search</span></button>
                           </div>
                        </div>
                        <div class="sidebar-widget">
                           <h4 class="sidebar-widget-title">Category</h4> 
                              <div class="sidebar-category-list-blog">
                                 <ul>
                                    <li><a href="#"><span class="category-title">UI/UX</span><span class="category-number">(05)</span></a></li>
                                    <li><a class="active" href="#"><span class="category-title">App Designs</span><span class="category-number">(02)</span></a></li>
                                    <li><a href="#"><span class="category-title">Consultant</span><span class="category-number">(03)</span></a></li>
                                    <li><a href="#"><span class="category-title">Technology</span><span class="category-number">(03)</span></a></li>
                                    <li><a href="#"><span class="category-title">Branding</span><span class="category-number">(04)</span></a></li>
                                    <li><a href="#"><span class="category-title">Graphics</span><span class="category-number">(01)</span></a></li>
                                    <li><a href="#"><span class="category-title">Web Design</span><span class="category-number">(02)</span></a></li>
                                 </ul>
                              </div>
                        </div>
                        <div class="sidebar-widget">
                           <h4 class="sidebar-widget-title">Recent Posts</h4>
                           <div class="sidebar-blog-post">
                              <ul>
                                 <li>
                                    <div class="blog-single">
                                       <div class="blog-thumb">
                                          <a href="blog-details.html"><img src="assets/img/blog/blog-1.jpg" alt="blog img"></a>
                                       </div>
                                       <div class="blog-content">
                                          <h4 class="blog-title"><a href="blog-details.html">Streamline appointments or reservations</a></h4>
                                          <div class="blog-meta-date">28 April 2022</div>
                                       </div>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="blog-single">
                                       <div class="blog-thumb">
                                          <a href="blog-details.html"><img src="assets/img/blog/blog-2.jpg" alt="blog img"></a>
                                       </div>
                                       <div class="blog-content">
                                          <h4 class="blog-title"><a href="blog-details.html">Designing Better Links For Websites And Emails</a></h4>
                                          <div class="blog-meta-date">25 April 2022</div>
                                       </div>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="blog-single">
                                       <div class="blog-thumb">
                                          <a href="blog-details.html"><img src="assets/img/blog/blog-3.jpg" alt="blog img"></a>
                                       </div>
                                       <div class="blog-content">
                                          <h4 class="blog-title"><a href="blog-details.html">How To Create A Headless WordPress Site</a></h4>
                                          <div class="blog-meta-date">20 April 2022</div>
                                       </div>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="blog-single">
                                       <div class="blog-thumb">
                                          <a href="blog-details.html"><img src="assets/img/blog/blog-4.jpg" alt="blog img"></a>
                                       </div>
                                       <div class="blog-content">
                                          <h4 class="blog-title"><a href="blog-details.html">Seven Mistakes To Avoid In Your Technical Interviews</a></h4>
                                          <div class="blog-meta-date">07 April 2022</div>
                                       </div>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="blog-single">
                                       <div class="blog-thumb">
                                          <a href="blog-details.html"><img src="assets/img/blog/blog-5.jpg" alt="blog img"></a>
                                       </div>
                                       <div class="blog-content">
                                          <h4 class="blog-title"><a href="blog-details.html">Building Your Own Personal Learning Curriculum</a></h4>
                                          <div class="blog-meta-date">03 April 2022</div>
                                       </div>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="sidebar-widget">
                           <h4 class="sidebar-widget-title">Popular Tages</h4>
                           <div class="sidebar-blog-tags">
                                 <a href="#">Agency</a>
                                 <a href="#">Business</a>
                                 <a href="#">Corporate</a>
                                 <a href="#">Full Stack</a>
                                 <a href="#">Graphics</a>
                                 <a href="#">Marketing</a>
                                 <a href="#">Investment</a>
                                 <a href="#">Trends</a>
                           </div>
                        </div>
                        <div class="sidebar-widget sidebar-adv">
                           <span>Advertisement</span>
                           <img src="assets/img/adv/avd-img.jpg" alt="">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- blog area end  -->
         
         



      </main>

     <!-- footer area start  -->
     <footer data-background="" class="footer1-bg">
      <section class="footer-area footer-area1 footer-area1-bg pt-100 pb-55">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="footer-widget footer1-widget footer1-widget4 mb-40 ">
                     <div class="fc-title">
                        <div class="fc-icon">
                           <i class="fa-brands fa-rocketchat"></i>
                        </div>
                        <div class="fc-text">
                           <span>Get in Touch</span>
                        </div>
                     </div>
                     <div class="footer-contact">
                        <ul>
                           <li>
                              <div class="irc-item">
                                 <div class="irc-icon">
                                    <i class="fa-solid fa-phone-volume"></i>
                                 </div>
                                 <div class="irc-content">
                                    <p>Business Inquiry </p>
                                    <span><a href="tel:808654654435">808 654 654 435</a></span>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="irc-item">
                                 <div class="irc-icon">
                                    <i class="fa-solid fa-envelope-open-text"></i>
                                 </div>
                                 <div class="irc-content">
                                    <p>Email </p>
                                    <span><a href="mailto:remico@example.com">remico@example.com</a></span>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="irc-item">
                                 <div class="irc-icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                 </div>
                                 <div class="irc-content">
                                    <p>Location </p>
                                    <span><a href="https://maps.google.com/" target="_blank">76 Manhattan Street, New York
                                       United States of America</a></span>
                                 </div>
                              </div>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div> 
               <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="footer-widget footer1-widget footer1-widget2 mb-40">
                        <h4 class="footer-widget-title mb-40">Links</h4>
                     <ul>
                        <li><a href="#">Mission & Vision</a></li>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Company Profile</a></li>
                        <li><a href="#">Official Gallery</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="footer-widget footer1-widget footer1-widget3 mb-40 ">
                        <h4 class="footer-widget-title mb-40">Instagram</h4>
                     <div class="instagram-shots">
                        <ul>
                           <li><a href="#"><img src="assets/img/portfolio/portfolio-1.jpg" alt=""></a></li>
                           <li><a href="#"><img src="assets/img/portfolio/portfolio-2.jpg" alt=""></a></li>
                           <li><a href="#"><img src="assets/img/portfolio/portfolio-3.jpg" alt=""></a></li>
                           <li><a href="#"><img src="assets/img/portfolio/portfolio-4.jpg" alt=""></a></li>
                           <li><a href="#"><img src="assets/img/portfolio/portfolio-5.jpg" alt=""></a></li>
                           <li><a href="#"><img src="assets/img/portfolio/portfolio-6.jpg" alt=""></a></li>
                        </ul>
                     </div>
                     
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="footer-widget footer1-widget footer1-widget1 mb-40">
                     <div class="footer-logo mb-40">
                        <a href="index.html">
                           <img src="assets/img/logo/logo-white.png" alt="">
                        </a>
                     </div>
                     <div class="footer-info mb-25">
                        <p>We have made it easy for clients to reach us and get their solutions weaved to watch</p>
                     </div>
                     <div class="footer-social">
                        <ul>
                           <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                           <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                           <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                           <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <div class="copyright-area copyright-area1">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-4 order-lg-1">
                  <div class="copyright-text">
                     <p>©Copyright ECONOMIC Todos los derechos reservados.</p>
                  </div>
               </div>
               <div class="col-lg-8 order-lg-2">
                  <div class="copyright-right">
                     <div class="newsletter-form">
                        <form action="#">
                           <div class="newsletter-input-field">
                              <input type="text" placeholder="Enter email">
                              <button><i class="fa-solid fa-paper-plane"></i></button>
                           </div>
                        </form>
                     </div>
                     <div class="copyright-links">
                        <a href="#">Privacy Policy</a>
                        <a href="#">Terms of Condition</a>
                     </div> 
                  </div>
               </div> 
            </div>
         </div>
      </div>
   </footer>
   <!-- footer area end  -->

   <!-- pre loader area start -->
   <div id="loading">
      <div id="loading-center">
         <div id="loading-center-absolute">
            <div class="loading-icon text-center d-flex flex-column align-items-center justify-content-center">
               <img src="assets/img/logo/logo-text.png" alt="logo-img">
               <img class="loading-logo" src="assets/img/logo/preloader.png" alt="img">
            </div>
         </div>
      </div>
   </div>
   <!-- pre loader area end -->

   <!-- back to top start -->
   <div class="progress-wrap">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
         <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
   </div>
   <!-- back to top end -->


   <!-- JS here -->
   <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
   <script src="assets/js/vendor/waypoints.min.js"></script>
   <script src="assets/js/bootstrap.bundle.min.js"></script>
   <script src="assets/js/meanmenu.js"></script>
   <script src="assets/js/swiper-bundle.min.js"></script>
   <script src="assets/js/owl.carousel.min.js"></script>
   <script src="assets/js/magnific-popup.min.js"></script>
   <script src="assets/js/parallax.min.js"></script>
   <script src="assets/js/backToTop.js"></script>
   <script src="assets/js/nice-select.min.js"></script>
   <script src="assets/js/counterup.min.js"></script>
   <script src="assets/js/ajax-form.js"></script>
   <script src="assets/js/wow.min.js"></script>
   <script src="assets/js/isotope.pkgd.min.js"></script>
   <script src="assets/js/imagesloaded.pkgd.min.js"></script>
   <script src="assets/js/main.js"></script>
</body>


</html>